@font-face {
	font-family: airways;
	src: url('Airways.ttf');
}

@font-face {
	font-family: description;
	src: url('description-font.otf');
}
html {

}

body {
	margin: 0;
}

a > img,
a > span
{
  vertical-align: middle;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
  padding:5px;
}

h1 {
	color: white;
	font-size: 70pt;
	font-weight: bold;
	font-family: airways;
	margin:auto;
	width: 20%;
}

h2 {
	color: white;
	font-size: 50pt;
	font-weight: bold;
	font-family: airways;
	margin:auto;
	padding-top:6%;
	width: 20%;
}

#surpriseme {
    background-color: rgba(56,197,216,0.7);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    border-radius: 40px;
	margin-top: 20%;
	width: 20%;
}

#header {
	background-color: rgba(255,255,255,0.6);
	width:100vw;
	padding-top:2%;
	padding-left:2%;
	padding-bottom:2%;
	height:6%;
}

#header img {
	margin-top:-1%;
	width:30%;
	margin-left: 2%;
}

#content {
	text-align: center;
	background-image: url('bg.jpg');
	background-size: cover;
	height:92%;
}

#content2 {
	text-align: center;
	background-image: url('skyline.jpg');
	height:92vh;
	background-size:cover;
}


#content3 {
	text-align: center;
	/* background:transparen /t; */
	height:92vh;
	/* background-size:cover; */
	margin-top:-1%;
}

#question_form {
	padding-top: 2%;
	width: 70%;
	margin: auto;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
	font-style: italic;
}

#question_form table {
    color: rgba(255,255,255,0.8);
    font-size: 20pt;
	border-collapse: collapse; 
	font-style: italic;
	font-size:15pt;
	margin:auto;
	margin-top:2%;
}

#question_form td {
  padding-bottom: 30px;
  padding-right: 20px;
}

#question_form input[type=text] {
	width: 400px;
	padding:0.8%;
	padding-left:3%;
	border-radius: 40px;
	font-size:13pt;
}

#question_form input[placeholder], [placeholder], *[placeholder] {
	font-style: italic !important;
	font-size:13pt !important;
}

#submitquestions {
    background-color: rgba(56,197,216,0.7);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15pt;
    border-radius: 40px;
	width: 40%;
	margin-top:20%;
}

.cesium-credit-textContainer {
	display:none;
}

#container-airplane {
	width:40%;
	float:left;
}

#airplane{
	padding-top:8%;
	width:65%;
	float:left;
}

#airplane img {
	width:100%;
}

#clicktofly{
	padding-top:10%;
	width:35%;
	float:left;
}

#clicktofly h1{
	color:black;
	font-size: 70pt;
	width:100%;
}
#clicktofly h2{
	color:black;
	font-size: 50pt;
	width:100%;
}

#earth_div {
	width:60%;
	float:left;
	padding:0;
	margin:0;
	height:45vw;
}

#earth_div:hover{
	cursor:pointer;
}

#description {
	width:110%;
	height: 50%;
	float:left;
	padding:0;
	font-family: description;
	margin:0;
	font-size:25pt;
	margin-top:-30%;
	margin-left:75%;
}



.dashed{
	stroke-dasharray: 10;
  
  }
  .path {

	stroke-dasharray: 10000;
	stroke-dashoffset: 100;
	animation: dash 15s linear alternate infinite;
  }
  
  @keyframes dash {
	from {
	  stroke-dashoffset: 10000;
	}
	to {
	  stroke-dashoffset: 0;
	}
  }


  #title-surprise-trip {
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
	font-size:10%;
	color:darkgray;
	z-index:500;
	padding-top:2%;
	width:100%;
  }

  #title-surprise-trip h1{
	 width:100%;
	 background-color:rgba(0,0,0,0.4);
	 padding:0.5%;
  }

  #map {
	  margin-top:-8%;
	  z-index:-1;
  }

  #booktrip {
	background-color: rgba(0,0,0,0.4);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20pt;
    border-radius: 40px;
	width: 20%;
	z-index:500;
	position:absolute;
	bottom:10%;
	left:40%;
  }

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:94%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 12px 16px;
	z-index: 1;
	color:black;
	border-radius: 40px;
	padding:5%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item:hover {
	color:rgba(56,197,216,1);
	cursor:pointer;
	width:100%;
	margin:0;
	padding:0;
}

.popup h2 {
	width:100%;
}