@font-face {
	font-family: airways;
	src: url('Airways.ttf');
}

html {

}

body {
	margin: 0;
}

a > img,
a > span
{
  vertical-align: middle;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
  padding:5px;
}

h1 {
	color: white;
	font-size: 70pt;
	font-weight: bold;
	font-family: airways;
	margin:auto;
	width: 20%;
}

h2 {
	color: white;
	font-size: 50pt;
	font-weight: bold;
	font-family: airways;
	margin:auto;
	padding-top:6%;
	width: 20%;
}

#surpriseme {
    background-color: #38c5d8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    border-radius: 40px;
	margin-top: 22%;
	width: 20%;
}

#header {
	background-color: rgba(255,255,255,0.6);
	width:100vw;
	padding-top:2%;
	padding-left:2%;
	padding-bottom:2%;
	height:6%;
}

#header img {
	margin-top:-1%;
	width:30%;
	margin-left: 2%;
}

#content {
	text-align: center;
	background-image: url('bg.jpg');
	background-size: cover;
	height:92%;
}

#question_form {
	padding-top: 2%;
	width: 70%;
	margin: auto;
}

#question_form table {
    color: white;
    font-size: 20pt;
    border-collapse: collapse; 
}

#question_form td {
  padding-bottom: 30px;
  padding-right: 20px;
}

#question_form input {
    width: 400px;
    height: 30px;
}

#submitquestions {
    background-color: #38c5d8;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    border-radius: 40px;
		width: 250px;
		height: 50px;
}